@use "./color.scss" as *;

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  margin: 0px;
  background-color: #000;
  font-family: "Odibee Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $color-accent-500;
}

h1,
h2,
h3 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-size: 1.5em;
  font-style: normal;
}

@media (max-width: 768px) {
  html {
   height: 100%;
   width: 100%;
  } 
}