/* Estilos generales para los botones */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: rgb(5, 5, 5); /* Texto blanco para contrastar con el fondo */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
    font-family: "Odibee Sans", sans-serif;
    font-size: 30px;
}

/* Estilo para el botón de inicio del juego */
button:first-of-type {
    background-color: #00cee3; /* $color-primary-500 */
}

button:first-of-type:hover {
    background-color: #18ecfd; /* $color-primary-400 (hover) */
}

/* Estilo para el botón que muestra/oculta las reglas */
button:last-of-type {
    background-color: #fc2cbf; /* $color-accent-500 (color de acento primario) */
}

button:last-of-type:hover {
    background-color: #ff65d8; /* $color-accent-400 (hover) */
}

/* Comportamiento para cuando el botón está deshabilitado */
button:disabled {
    background-color: #9c2310; /* $color-contrast-800 (desactivado) */
    cursor: not-allowed;
}