@use "../styles/color.scss" as *;

.notfound-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: calc(100vh - 161px);
    text-align: left; 

    .text-notFound {
        flex: 1;
        padding: 20px;

        h1 {
            font-size: 10rem;
            margin-bottom: 2rem;
            color: $color-primary-600;
            text-align: center;
        }
        h2{
            font-size: 2.5rem;
            color: $color-primary-600;
            text-align: center;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: $color-contrast-400;
            text-align: center;

            .home-link {
                color: $color-accent-500;
                text-decoration: underline;

                &:hover {
                    color: $color-primary-400;
                }
            }
        }
    }

    .img-notfound {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        
        img {
            max-width: 100%;
            height: auto;
            max-height: calc(100vh - 161px);
            border-radius: 15px;
        }
    }
}

/* Responsive */
@media (max-width: 768px) {
    .notfound-container {
        flex-direction: column;
        text-align: center;

        .text-notFound, .img-notfound {
            flex: none;
            width: 100%;
        }
    }
}
