@use "../styles/color.scss" as *;
@use "../styles/mixins.scss" as *;

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;

  .title {
    color: $color-primary-400;
  }
  .groupName {
    color: $color-contrast-400;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }
}

@include mobile {
  .footerContainer {
    flex-direction: row;
    position: sticky;
    bottom: 0;
    z-index: 100;
    background-color: #000;
    padding-top: 5px;

    .mobile {
      display: flex;
    }
  
    .desktop {
      display: none;
    }
  }


}
