@use "../../styles/color.scss" as *;

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navDesktop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .navDesktopList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    gap: 1em;
    margin: 0;
    padding: 0 2rem;
    border: 2px solid $color-accent-900;
    border-radius: 2rem;
    font-size: 1.3rem;
  }
  .navDesktopImg {
    width: 50px;
    height: 50px;
    color: #000;
  }

  .navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      .navDesktopImg {
        color: $color-primary-900;
      }
      .navDesktopText {
        color: $color-primary-900;
      }
    }

    .navDesktopImg {
      width: 50px;
      height: 50px;
      color: #000;
      transition: color 0.3s ease-in-out;
    }

    .navDesktopText {
      color: #000;
      transition: color 0.3s ease-in-out;
    }
  }
}

@media (max-width: 768px) {
  .navContainer {
    flex-direction: column;
  }
  .navDesktop {
    .navDesktopList {
      display: grid;
      height: auto;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
      padding: 0 2rem;
      border: solid 1px $color-accent-900;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .navLink {
        .navDesktopText {
          transition: color 0.5s ease-in-out;
          color: $color-primary-400;
        }
        .navDesktopImg {
          width: 40px;
          height: 40px;
          transition: color 0.5s ease-in-out;
          color: $color-primary-400;
        }

        .navDesktopText {
          transition: color 0.5s ease-in-out;
          color: $color-accent-400;
        }
      }
    }
  }
}
