@use "../styles/mixins.scss" as *;

.layout {
  box-sizing: border-box;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  overflow: auto;
  min-height: 0;
}

@include mobile-landscape {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
}
